.pre-book{
    background-color: rgb(226, 136, 248);
    color: rgb(29, 28, 25);
    font-size: 1em;
}
.shop{
   color: rgb(24, 20, 27);
   font-size: 3em;
}
.e-shop{
    padding: 20px;
    margin-left: 30px;
    margin-top: 60px;
}
nav{
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
    margin-top: 50px;
    padding: 50px;
}
nav a{
    text-decoration: none;
    color: rgb(29, 28, 28);
    font-size: 1.5em;
   margin-left: 25px;
}
