/* fonts------ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* common styles---- */
body{
    font-family: 'Poppins', sans-serif;
}
.pre-book{
    background-color: rgb(247, 84, 152);
    color: rgb(241, 240, 235);
    font-size: 1.5em;
    padding: 15px 22px;
  border-radius: 50px;
  border: none;
}
.img{
    margin-left: 200px;
    background-image: url("images/aj.svg");
    margin-bottom: 100px;
}
.top-head{
    display: flex;
    margin-top: 80px;
    margin-right: 10px;
}
    .e-shop-nav{
        margin-right: 660px;
    }
.e-shop{
    width: 582px;
    height: 270px;
    top: 285px;
    left: 120px;
    margin-bottom: 150px;
   
    
}
.head-section{
    display: flex;
    margin-top: 150px;
    margin-left: 30px;
}

nav a{
    text-decoration: none;
    color: rgb(29, 28, 28);
    font-size: 1.5em;
   margin-left: 25px;
   justify-content: center;
   align-items: center;
}
.collections{
    text-align: center;
    font-size: 1.3em;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.grid img{
      width: 400px;
      height: 350px;
    margin: 20px;
}
.fa-star{
    font-size: 12px;
}
.fa-star.emt{
    color: #FFC014;
}
.fa-star.fild{
    color: #AEAEAE;
}
/* footer----- */
.copyright-text{
    text-align: center;
}
.social-1{
    display: flex;
    justify-content: center;
}
.footer{
    background-color: rgb(71, 66, 66);
    color: whitesmoke;
    text-decoration: none;
    margin-right: 20px;
}
#s-icon{
    margin-right: 20px;
    color: rgb(102, 186, 243);
}
/*------------ midea---------- */
@media only screen and (max-width: 700px) {
    .grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
  }
  @media only screen and (max-width: 700px) {
    .head-section{
        margin-top: 150px;
        margin-left: 30px;
       display: block;
    }
  }